$bg-lightred: hsla(13, 100%, 72%, 0.95);
$bg-red: hsl(353, 100%, 62%);
$bg-darkblue: hsl(237, 17%, 21%);
$bg-lightblue: hsl(237, 23%, 32%);
$footer-bg: hsl(240, 10%, 16%);
$text-white: hsl(0, 0%, 100%);
$text-blue: hsl(208, 49%, 24%);
$text-red: hsl(356, 100%, 66%);
$footer-text-gray: hsl(240, 2%, 79%);
$body-text-blue: hsl(207, 13%, 34%);
$hover-red: hsl(355, 100%, 74%);
$mobile-nav-width: 83%;
// $mobile-nav-height: 105%;
$bg-dropdown: hsla(240, 2%, 79%, 0.8);

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	min-height: 100%;
}

a:link,
a:visited {
	text-decoration: none;
}

header {
	width: 100%;
	height: 75vh;
	z-index: 999;
	position: relative;
	padding: 1.5rem 2.6rem 0rem;
	text-align: center;
	background-image: url(/images/bg-pattern-intro.svg),
		linear-gradient(120deg, $bg-lightred 25%, $bg-red 59%);
	background-repeat: no-repeat;
	background-position: 33% 33%, center;
	background-size: 250% auto;
}

.header__mobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav {
	position: absolute;
	width: $mobile-nav-width;
	max-width: 33rem;
	top: 50%;
	margin-top: -10rem;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: $text-white;
	border-radius: 0.3em;
	// box-shadow: ;
	padding: 0.6em 1.3em 1em;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 300ms ease-in-out;

	& ul {
		list-style: none;
		margin-bottom: 1.5em;
		padding: 0em 0.8em 1.3em;
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	&__item {
		font-size: 1.2rem;
		color: $text-blue;
	}
}

.show__mobilenav {
	transform: scale(1, 1);

	& ul {
		opacity: 1;
		transition: opacity 250ms ease-in-out 250ms;
	}
}

.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
	display: block;
	width: 2em;
	height: 2px;
	background-color: white;
	position: relative;
}

.nav__toggle span::before,
.nav__toggle span::after {
	content: '';
	position: absolute;
}

.nav__toggle span::before {
	bottom: 7px;
}
.nav__toggle span::after {
	top: 7px;
}

.arrow__icon {
	margin-left: 0.3em;
	& img {
		filter: invert(49%) sepia(51%) saturate(6583%) hue-rotate(329deg)
			brightness(98%) contrast(107%);
	}
}

.dropdown {
	display: flex;
	flex-direction: column;
	background-color: rgba(207, 207, 207, 0.4);
	border-radius: 0.3em;

	&__item {
		color: $bg-lightblue;
		margin: 0.3em 0;
	}
}

.b1 {
	border: 1px solid blue;
	padding: 0px 6px;
}
