$bg-lightred: hsla(13, 100%, 72%, 0.95);
$bg-red: hsl(353, 100%, 62%);
$bg-darkblue: hsl(237, 17%, 21%);
$bg-lightblue: hsl(237, 23%, 32%);
$footer-bg: hsl(240, 10%, 16%);
$text-white: hsl(0, 0%, 100%);
$text-blue: hsl(208, 49%, 24%);
$text-red: hsl(356, 100%, 66%);
$footer-text-gray: hsl(240, 2%, 79%);
$body-text-blue: hsl(207, 13%, 34%);
$hover-red: hsl(355, 100%, 74%);
$mobile-nav-width: 83%;
$mobile-nav-height: 105%;
$bg-dropdown: hsla(240, 2%, 79%, 0.8);

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	min-height: 100%;
}

a:link,
a:visited {
	text-decoration: none;
}

header {
	width: 100%;
	height: 75vh;
	position: relative;
	padding: 1.5rem 2.6rem 0rem;
	text-align: center;
	background-image: url(/images/bg-pattern-intro.svg),
		linear-gradient(120deg, $bg-lightred 25%, $bg-red 59%);
	background-repeat: no-repeat;
	background-position: 33% 33%, center;
	background-size: 250% auto;
}

.header__mobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5em;
	margin-top: 1em;

	@media only screen and (min-width: 793px) {
		& {
			all: unset;
			display: inline-block;
			padding: 5px 0;
			vertical-align: top;
		}
	}
}

.nav {
	position: absolute;
	width: $mobile-nav-width;
	max-width: 33rem;
	top: 50%;
	margin-top: -9rem;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: $text-white;
	border-radius: 0.4em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0.3em 2em 0em;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 300ms ease-in-out;

	& ul {
		list-style: none;
		margin-top: 0;
		margin-bottom: 1.5em;
		padding: 0em 0em 1.3em;
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	& p {
		display: inline-block;
	}

	&__item {
		font-size: 1.1rem;
		color: $text-blue;
		cursor: pointer;
	}

	&__auth {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0.5em;

		& * {
			margin: 0.4em 0;
			color: $text-blue;
			font-size: 1rem;
			cursor: pointer;
		}

		& button {
			padding: 0.7em 1.5em;
			border-radius: 1em;
			border: none;
			color: $text-white;
			background: linear-gradient(to right, $bg-lightred, $bg-red);
		}
	}

	@media only screen and (min-width: 793px) {
		& {
			all: unset;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			width: 73%;
			margin-left: 2em;
			vertical-align: top;
		}

		& ul {
			all: unset;
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}

		& li {
			position: relative;
		}

		&__item {
			color: $text-white;
		}

		& li > div {
			margin: 1em 2.2em 1em 0;
		}

		& p {
			margin: 0 0.1em;
		}

		&__icon {
			display: none;
		}

		&__auth {
			margin: 0;
			flex-direction: row;
			align-self: center;

			& * {
				margin: 0em 0.4em;
				color: $text-white;
				font-size: 1rem;
			}

			& button {
				border-radius: 1em;
				border: none;
				color: $bg-red;
				background: $text-white;
			}
		}
	}
}

.nav__close span,
.nav__close span::before,
.nav__close span::after {
	display: block;
	width: 2em;
	height: 2px;
	background-color: white;
	position: relative;
	visibility: hidden;
}

.nav__close span::before,
.nav__close span::after {
	visibility: visible;
	content: '';
	position: absolute;
}

.nav__close span::before {
	// bottom: 3px;
	transform: rotate(45deg);
}
.nav__close span::after {
	// top: 3px;
	transform: rotate(-45deg);
}

.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
	display: block;
	width: 2em;
	height: 2px;
	background-color: white;
	position: relative;
}

.nav__toggle span::before,
.nav__toggle span::after {
	content: '';
	position: absolute;
}

.nav__toggle span::before {
	bottom: 7px;
}
.nav__toggle span::after {
	top: 7px;
}

.show--mobilenav {
	transform: scale(1, 1);

	& ul {
		opacity: 1;
		transition: opacity 250ms ease-in-out 250ms;
	}
}

.arrow__icon {
	margin-left: 0.3em;
	display: inline;

	& img {
		filter: invert(49%) sepia(51%) saturate(6583%) hue-rotate(329deg)
			brightness(98%) contrast(107%);

		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transition: transform 150ms ease-in-out;
	}

	@media only screen and (min-width: 793px) {
		& img {
			filter: invert(0%) sepia(1%) saturate(0%) hue-rotate(181deg)
				brightness(96%) contrast(104%);
		}
	}
}

.rotate--icon {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.dropdown {
	width: 100%;
	margin: 0 auto;
	height: 0;
	display: flex;
	padding: 0.4em 0.4em;
	flex-direction: column;
	background-color: rgba(228, 222, 222, 0.4);
	border-radius: 0.3em;
	transform-origin: top;
	transform: scale(1, 0);
	transition: all 250ms ease-in-out;

	&__item {
		color: $bg-lightblue;
		margin: 0.4rem 0 0.8rem;
		font-size: 1rem;
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	&__item:hover {
		color: darkblue;
	}

	@media only screen and (min-width: 793px) {
		& {
			background-color: $text-white;
			position: absolute;
		}
	}
}

.show--dropdown {
	height: auto;
	transform: scale(1, 1);
	& .dropdown__item {
		opacity: 1;
		transition: opacity 250ms ease-in-out 150ms;
	}

	@media only screen and (min-width: 793px) {
		& {
			position: absolute;
			height: auto;
			transform: scale(1, 1);
			top: 3em;
		}
	}
}
