*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

a:link,
a:visited {
  text-decoration: none;
}

header {
  width: 100%;
  min-height: 75vh;
  position: relative;
  padding: 1.5rem 2.6rem 0rem;
  text-align: center;
  background-image: url(/images/bg-pattern-intro.svg), linear-gradient(120deg, rgba(255, 143, 112, 0.95) 25%, #ff3d54 59%);
  background-repeat: no-repeat;
  background-position: 33% 33%, center;
  background-size: 250% auto;
  border-bottom-left-radius: 7em;
}
@media only screen and (max-width: 330px) {
  header {
    min-height: 90vh;
  }
}
@media only screen and (min-width: 760px) {
  header {
    min-height: 55vh;
    background-size: 200% auto;
    background-position: 20% 50%, center;
  }
}
@media only screen and (min-width: 1000px) {
  header {
    min-height: 45vh;
  }
}
@media only screen and (max-height: 667px) and (min-height: 600px) {
  header {
    min-height: 80vh;
  }
}

.header__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
  margin-top: 1em;
}
@media only screen and (min-width: 760px) {
  .header__mobile {
    all: unset;
    display: inline-block;
    padding: 5px 0;
    vertical-align: top;
    margin-top: 2em;
    margin-left: 0em;
  }
}

.nav {
  position: absolute;
  width: 83%;
  max-width: 33rem;
  top: 50%;
  margin-top: -9em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.3em 2em 0em;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}
.nav ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 0em 0em 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav p {
  display: inline-block;
}
.nav__item {
  font-size: 1rem;
  color: #1f3f5b;
  cursor: pointer;
}
.nav__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}
.nav__auth * {
  margin: 0.4em 0;
  color: #1f3f5b;
  font-size: 1rem;
  cursor: pointer;
}
.nav__auth button {
  padding: 0.7em 1.5em;
  border-radius: 2em;
  border: none;
  color: white;
  background: linear-gradient(to right, rgba(255, 143, 112, 0.95), #ff3d54);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.nav__auth button:hover {
  background: #ff7a85;
}
@media only screen and (min-width: 760px) {
  .nav {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
    margin-left: 3em;
    vertical-align: top;
    font-family: "Ubuntu", sans-serif;
    margin-top: 2em;
  }
  .nav ul {
    all: unset;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav li {
    position: relative;
  }
  .nav__item {
    color: white;
    font-size: 0.9rem;
  }
  .nav__item:hover {
    text-decoration: underline;
  }
  .nav li > div {
    margin: 1em 2.4em 1em 0;
  }
  .nav p {
    margin: 0 0.1em;
  }
  .nav__icon {
    display: none;
  }
  .nav__auth {
    margin: 0;
    flex-direction: row;
    align-self: center;
  }
  .nav__auth * {
    margin: 0em 0.4em;
    color: white;
    font-size: 0.9rem;
  }
  .nav__auth button {
    border: none;
    color: #ff3d54;
    background: white;
  }
}

.nav__close span,
.nav__close span::before,
.nav__close span::after {
  display: block;
  width: 2em;
  height: 2px;
  background-color: white;
  position: relative;
  visibility: hidden;
}

.nav__close span::before,
.nav__close span::after {
  visibility: visible;
  content: "";
  position: absolute;
}

.nav__close span::before {
  transform: rotate(45deg);
}

.nav__close span::after {
  transform: rotate(-45deg);
}

.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  display: block;
  width: 2em;
  height: 2px;
  background-color: white;
  position: relative;
}

.nav__toggle span::before,
.nav__toggle span::after {
  content: "";
  position: absolute;
}

.nav__toggle span::before {
  bottom: 7px;
}

.nav__toggle span::after {
  top: 7px;
}

.show--mobilenav {
  transform: scale(1, 1);
}
.show--mobilenav ul {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.arrow__icon {
  margin-left: 0.3em;
  display: inline;
}
.arrow__icon img {
  filter: invert(49%) sepia(51%) saturate(6583%) hue-rotate(329deg) brightness(98%) contrast(107%);
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform 150ms ease-in-out;
}
@media only screen and (min-width: 760px) {
  .arrow__icon img {
    filter: invert(0%) sepia(1%) saturate(0%) hue-rotate(181deg) brightness(96%) contrast(104%);
  }
}

.rotate--icon {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.dropdown {
  width: 100%;
  margin: 0 auto;
  height: 0;
  display: flex;
  padding: 0.4em 0.4em;
  flex-direction: column;
  background-color: rgba(228, 222, 222, 0.4);
  border-radius: 0.3em;
  transform-origin: top;
  transform: scale(1, 0);
  transition: all 250ms ease-in-out;
}
.dropdown__item {
  color: #546069;
  margin: 0.4rem 0 0.8rem;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
.dropdown__item:hover {
  color: #2c2d3f;
}
@media only screen and (min-width: 760px) {
  .dropdown {
    background-color: white;
    position: absolute;
    margin-right: 10px;
    text-align: left;
    padding-top: 0.4em;
    padding-left: 0.7em;
  }
  .dropdown__item {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.show--dropdown {
  height: auto;
  transform: scale(1, 1);
}
.show--dropdown .dropdown__item {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}
@media only screen and (min-width: 760px) {
  .show--dropdown {
    position: absolute;
    height: auto;
    transform: scale(1, 1);
    top: 3em;
  }
}

.intro {
  margin-top: -3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Overpass", sans-serif;
  color: white;
}
.intro__header {
  width: 100%;
  font-size: 2.2rem;
  margin-bottom: 0.6em;
}
.intro p {
  width: 65%;
  margin: 0em 0 3em;
}
.intro__btns {
  display: flex;
}
.intro__btns button {
  padding: 0.9em 1.5em;
  border-radius: 2em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.intro__btns button:first-child {
  border: none;
  background: white;
  color: #ff525d;
}
.intro__btns button:first-child:hover {
  background: #ff7a85;
  color: white;
}
.intro__btns button:nth-child(2) {
  border: 1px solid white;
  color: white;
  background: transparent;
  margin-left: 1em;
}
.intro__btns button:nth-child(2):hover {
  background: white;
  color: #ff525d;
}
@media only screen and (max-width: 360px) {
  .intro p {
    margin-bottom: 2em;
  }
  .intro__header {
    margin-bottom: 0.4em;
  }
}
@media only screen and (max-width: 330px) {
  .intro p {
    margin-bottom: 1.6em;
  }
}
@media only screen and (min-width: 760px) {
  .intro {
    margin-top: 4em;
  }
  .intro__btns {
    margin-bottom: 7em;
  }
}

/*# sourceMappingURL=header.css.map */
