section {
  margin-top: 2em;
  font-family: "Overpass", sans-serif;
}
section p {
  line-height: 1.8em;
}

/*********section one*********/
.section__one {
  padding: 1.5rem 2.6rem 0rem;
  margin-top: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/illustration-editor-mobile.svg) 50% 17% no-repeat;
}
.section__one h2 {
  color: #1f3f5b;
  margin-bottom: 0;
}
.section__one p {
  color: #546069;
}
.section__one__content {
  margin-top: 25em;
}
.section__one__sub2 {
  margin-top: 3em;
}
.section__one__sub1, .section__one__sub2 {
  max-width: 36em;
}
@media only screen and (max-width: 360px) {
  .section__one {
    background-size: 90%;
  }
}
@media only screen and (min-width: 850px) {
  .section__one {
    background: url(../images/illustration-editor-desktop.svg) 135% 75%/56% no-repeat;
    padding: 5em 4em 6em;
  }
  .section__one__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6em;
  }
  .section__one__sub1 {
    margin-top: 0em;
  }
  .section__one__sub2 {
    margin-top: 2em;
  }
  .section__one__sub1, .section__one__sub2 {
    text-align: left;
    max-width: 43%;
    margin-left: 3.5em;
  }
}

/*********section two*********/
.section__two {
  margin-top: 14em;
  width: 100%;
  min-height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../images/bg-pattern-circles.svg), linear-gradient(155deg, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: 50% -350px, center;
  background-size: 150%, cover;
  border-top-right-radius: 7em;
  border-bottom-left-radius: 7em;
}
.section__two h2 {
  font-size: 1.9rem;
}
.section__two::before {
  content: "";
  position: absolute;
  min-height: 55vh;
  top: -12em;
  width: 24em;
  background-image: url(../images/illustration-phones.svg);
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 100%;
}
.section__two__content {
  width: 90%;
  max-width: 36em;
  color: white;
  padding: 10em 1.7em 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2em;
}
@media only screen and (max-width: 360px) {
  .section__two::before {
    background-size: 90%;
  }
}
@media only screen and (min-width: 850px) {
  .section__two {
    margin-top: 2em;
    height: 51vh;
    background-position: -20% -20em, center;
    background-size: 60%, cover;
  }
  .section__two h2 {
    font-size: 1.7rem;
  }
  .section__two::before {
    top: -3em;
    left: 4em;
    width: 28em;
    min-height: 64vh;
    background-position: 30% 37%;
    background-size: 100%;
  }
  .section__two__content {
    width: 45%;
    text-align: left;
    padding: 0em 3em 0em;
    margin-bottom: 0em;
    margin-left: 55%;
  }
}

/*********section three*********/
.section__three {
  padding: 1.5rem 2.6rem 0rem;
  background: url(../images/illustration-laptop-mobile.svg) no-repeat;
  background-position: 50% 0%;
  margin-top: 7em;
}
.section__three__content {
  margin-top: 18em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__three__content h2 {
  color: #1f3f5b;
}
.section__three__content p {
  color: #546069;
}
.section__three__content__sub1, .section__three__content__sub2 {
  max-width: 36em;
}
.section__three__content__sub2 {
  margin-top: 1.5em;
}
@media only screen and (max-width: 360px) {
  .section__three {
    background-size: 115%;
  }
}
@media only screen and (min-width: 850px) {
  .section__three {
    padding: 5em 4em 6em;
    margin-top: 0;
    background: url(../images/illustration-laptop-desktop.svg) -85% 6em/75% no-repeat;
  }
  .section__three__content {
    align-items: flex-end;
    text-align: left;
    margin-top: 9em;
  }
  .section__three__content__sub1, .section__three__content__sub2 {
    max-width: 43%;
  }
  .section__three__content__sub2 {
    margin-top: 2.5em;
  }
}

/*# sourceMappingURL=section.css.map */
