$bg-darkblue: hsl(237, 17%, 21%);
$bg-lightblue: hsl(237, 23%, 32%);
$footer-bg: hsl(240, 10%, 16%);
$text-blue: hsl(208, 49%, 24%);
$text-white: hsl(0, 0%, 100%);
$footer-text-gray: hsl(240, 2%, 79%);
$body-text-blue: hsl(206, 11%, 37%);
$bg-dropdown: hsla(240, 2%, 79%, 0.8);
$ff-overpass: 'Overpass', sans-serif;

section {
	margin-top: 2em;
	font-family: $ff-overpass;

	& p {
		line-height: 1.8em;
	}
}

/*********section one*********/
.section__one {
	padding: 1.5rem 2.6rem 0rem;
	margin-top: 4em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(/images/illustration-editor-mobile.svg) 50% 17% no-repeat;

	& h2 {
		color: $text-blue;
		margin-bottom: 0;
	}

	& p {
		color: $body-text-blue;
	}

	&__content {
		margin-top: 25em;
	}

	&__sub2 {
		margin-top: 3em;
	}

	&__sub1,
	&__sub2 {
		max-width: 36em;
	}

	@media only screen and (max-width: 360px) {
		& {
			background-size: 90%;
		}
	}

	@media only screen and (min-width: 850px) {
		& {
			background: url(/images/illustration-editor-desktop.svg) 135% 75% / 56%
				no-repeat;
			padding: 5em 4em 6em;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 6em;
		}
		&__sub1 {
			margin-top: 0em;
		}

		&__sub2 {
			margin-top: 2em;
		}

		&__sub1,
		&__sub2 {
			text-align: left;
			max-width: 43%;
			margin-left: 3.5em;
		}
	}
}

/*********section two*********/
.section__two {
	margin-top: 14em;
	width: 100%;
	min-height: 77vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url(/images/bg-pattern-circles.svg),
		linear-gradient(155deg, $bg-darkblue, $bg-lightblue);
	background-repeat: no-repeat;
	background-position: 50% -350px, center;
	background-size: 150%, cover;
	border-top-right-radius: 7em;
	border-bottom-left-radius: 7em;

	& h2 {
		font-size: 1.9rem;
	}

	&::before {
		content: '';
		position: absolute;
		border: 1px solid blue;
		min-height: 55vh;
		top: -12em;
		width: 24em;
		background-image: url(/images/illustration-phones.svg);
		background-repeat: no-repeat;
		background-position: center 10%;
		background-size: 100%;
	}

	&__content {
		width: 90%;
		max-width: 36em;
		color: $text-white;
		padding: 10em 1.7em 0em;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin-bottom: 2em;
	}

	@media only screen and (max-width: 360px) {
		&::before {
			background-size: 90%;
		}
	}

	@media only screen and (min-width: 850px) {
		& {
			margin-top: 2em;
			height: 51vh;
			background-position: -20% -20em, center;
			background-size: 60%, cover;
		}

		& h2 {
			font-size: 1.7rem;
		}

		&::before {
			// display: none;
			top: -3em;
			left: 4em;
			width: 28em;
			min-height: 64vh;
			background-position: 30% 37%;
			background-size: 100%;
		}

		&__content {
			width: 45%;
			text-align: left;
			padding: 0em 3em 0em;
			margin-bottom: 0em;
			margin-left: 55%;
		}
	}
}

/*********section three*********/

.section__three {
	padding: 1.5rem 2.6rem 0rem;
	background: url(/images/illustration-laptop-mobile.svg) no-repeat;
	background-position: 50% 0%;
	margin-top: 7em;

	&__content {
		margin-top: 18em;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		& h2 {
			color: $text-blue;
		}

		& p {
			color: $body-text-blue;
		}

		&__sub1,
		&__sub2 {
			max-width: 36em;
		}

		&__sub2 {
			margin-top: 1.5em;
		}
	}

	@media only screen and (max-width: 360px) {
		& {
			background-size: 115%;
		}
	}

	@media only screen and (min-width: 850px) {
		& {
			padding: 5em 4em 6em;
			margin-top: 0;
			background: url(/images/illustration-laptop-desktop.svg) -85% 6em / 75% no-repeat;
		}
		&__content {
			align-items: flex-end;
			text-align: left;
			margin-top: 9em;

			&__sub1,
			&__sub2 {
				max-width: 43%;
			}

			&__sub2 {
				margin-top: 2.5em;
			}
		}
	}
}
