$bg-darkblue: hsl(237, 17%, 21%);
$bg-lightblue: hsl(237, 23%, 32%);
$footer-bg: hsl(240, 10%, 16%);
$text-blue: hsl(208, 49%, 24%);
$footer-text-gray: hsl(240, 2%, 79%);
$body-text-blue: hsl(206, 11%, 37%);
$bg-dropdown: hsla(240, 2%, 79%, 0.8);
$ff-overpass: 'Overpass', sans-serif;

section {
	margin-top: 2em;
}

.section__one {
	padding: 1.5rem 2.6rem 0rem;
	margin-top: 2em;
	font-family: $ff-overpass;
	text-align: center;
	background: url(/images/illustration-editor-mobile.svg) 50% 23% no-repeat;

	&__sub1 {
		margin-top: 26em;
	}

	& h2 {
		color: $text-blue;
	}

	& p {
		color: $body-text-blue;
	}

	@media only screen and (min-width: 850px) {
		& {
			background: url(/images/illustration-editor-desktop.svg) 135% 75% / 58%
				no-repeat;
			padding: 5em 4em 6em;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 6em;
		}
		&__sub1 {
			margin-top: 0em;
		}

		&__sub1,
		&__sub2 {
			text-align: left;
			width: 43%;
			margin-left: 3.5em;
		}
	}
}
